<footer class="site-footer h-card" style="background-color: #d3d3d3; border-color: black">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <ul class="contact-list">
            {% if site.title -%}
              <li class="p-name">{{ site.title| escape }}</li>
            {% endif -%}
            {% if site.minima.social_links.email -%}
              <li><a class="u-email" href="mailto:{{ site.minima.social_links.email }}">{{ site.minima.social_links.email }}</a></li>
            {%- endif %}
            <div class="social-links">
                {%- include social.html -%}
            </div>
          </ul>
        </div>
      </div>

    </div>
  
  </footer>
  