<!-- <div class="top-strip"></div> -->
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
      body {
          padding-top: 150px; /* Adjust to match the height of the navbar */
      }
  </style>
</head>
<div class="navbar navbar-default navbar-fixed-top" id="navbar-container">
    <div class="container">
  
      <div class="navbar-header">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a  href=""><b>TRL</b>@NeurIPS'24</a></li>
          <li><a  href="#cfp">CfP</a></li>
          <!-- <li><a  href="#schedule">Schedule</a></li> -->
          <li><a  href="#organization">Organization</a></li>
          <li><a  href="#guidelines">Submission</a></li>
          <li><a  href="#program">Program</a></li>
          <li><a  href="#accepted-papers">Accepted Papers</a></li>
          <li><a href="/ACL2025">ACL2025</a></li>
          <li><a href="/NeurIPS2024">NeurIPS2024</a></li>
          <li><a href="/NeurIPS2023">NeurIPS2023</a></li>
        </ul>
      </div>
  
    </div>
  </div>
  
  <div class="row" id="title">
    <div class="col-xs-12">
      <center>
        <h1><b>3th Table Representation Learning Workshop @ NeurIPS 2024</b></h1>
      </center>
      <center>
        <h3>14 December 2024, Vancouver, Canada.</h3>
      </center>
    </div>
  </div>
  